#leaderboard-list{
  display: flex;
  flex-direction: column;
}

.leaderboard-row{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ranking-text,
.department-text,
.points-text{
  display: flex;
  align-items: center;
  justify-content: center;
}

app-leaderboard-element{
  height: 80px;
}

.leaderboard-row > div{
  width: calc(100% / 3);
  text-align: center;
}

#leaderboard-list > :not(:last-child){
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
