#nav-bar{
  height: 90px;
  background-color: #e8511e;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  box-shadow: 0 4px 4px -4px gray;
  position: relative;
}

.nav-bar-entry-text{
  font-size: 1.2vw;
}

#nav-bar-logo{
  height: 80%;
  filter: invert(92%) sepia(100%) saturate(32%) hue-rotate(345deg) brightness(108%) contrast(110%);
  transform: scaleX(-1);
}
