<div id="nav-bar">
  <!--<div class="nav-bar-entry">
    <img id="nav-bar-logo" src="../../assets/logo.svg">
  </div>
  <div class="nav-bar-entry">
    <div class="nav-bar-entry-text">Il Palio d'Ateneo</div>
  </div>
  <div class="nav-bar-entry">
    <div class="nav-bar-entry-text">Classifica</div>
  </div>
  <div class="nav-bar-entry">
    <div class="nav-bar-entry-text">Anni precedenti</div>
  </div>
  <div class="nav-bar-entry">
    <div class="nav-bar-entry-text">Crediti</div>
  </div>-->
  <app-nav-bar-entry routerLink="">
    <img id="nav-bar-logo" src="../../assets/logo.svg">
  </app-nav-bar-entry>
  <app-nav-bar-entry routerLink="/palio-di-ateneo">
    <a class="nav-bar-entry-text">Il Palio d'Ateneo</a>
  </app-nav-bar-entry>
  <app-nav-bar-entry routerLink="/classifica">
    <a class="nav-bar-entry-text">Classifica</a>
  </app-nav-bar-entry>
  <app-nav-bar-entry routerLink="/about">
    <a class="nav-bar-entry-text">About</a>
  </app-nav-bar-entry>
</div>
