.leaderboard-podium-element{
  width: 100%;
  height: 100%;
  position: relative;
}

.front-podium-rect{
  background-color: #fa6230;
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.front-podium-rect::before{
  content: '';
  border-bottom: 30px solid #fa8660;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 100%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

:host-context(.first-place) .front-podium-rect{
  height: 50%;
}

:host-context(.second-place) .front-podium-rect{
  height: 40%;
}

:host-context(.third-place) .front-podium-rect{
  height: 30%;
}

.podium-team-name,
.podium-team-points{
  font-size: 2vw;
  color: white;
  z-index: 1;
}

.rect-team-position{
  font-size: 7vw;
  z-index: 0;
  position: absolute;
  color: rgba(0,0,0,0.2);
}

.team-logo{
  position: absolute;
  bottom: 110%;
  width: 200px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  object-fit: cover;
  border: 5px solid black;
  overflow: hidden;
}

.team-logo-image{
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.podium-medal{
  width: 120px;
  aspect-ratio: 1/1;
  z-index: 2;
  position: absolute;
  bottom: 100%;
  right: 0%;
}
