<div class="leaderboard-container">
  <div class="leaderboard-first-row">
    <div class="first-row-position">
      <div class="first-row-position-text">
        Posizione
      </div>
    </div>
    <div class="first-row-department">
      <div class="first-row-department-text">
        Facoltà
      </div>
    </div>
    <div class="first-row-points">
      <div class="first-row-points-text">
        Punteggio
      </div>
    </div>
  </div>
  <app-leaderboard-list [year]="palio_year"></app-leaderboard-list>
</div>
